.hero {
  .text {
    position: relative;
    display: flex;
    &:before {
      content: '';
      background: linear-gradient(0.5turn, #000, transparent);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @media (min-width: 768px) {
      max-height: 50vh;
    }
  }

  h1 {
    padding: 1rem;
    background-color: var(--card);
    text-align: center;
    font-size: 2.25rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    @media (min-width: 768px) {
      max-width: 1200px;
      font-size: 2.75rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.5rem;
    }

    span {
      font-size: 0.5em;
    }
  }

  picture {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: contain;
    filter: 'brightness(0.5) grayscale(.5)';

    @media (min-width: 768px) {
      height: 100%;
      object-fit: cover;
    }
  }
}
