.PersonalProjectsGrid {
  margin-top: 2.5rem;

  h2 {
    text-align: center;
    text-decoration: underline;

    @media (min-width: 768px) {
      grid-column: 1 / span 2;
    }

    @media (min-width: 1200px) {
      grid-column: 1 / span 4;
    }
  }
}
