<style>
  footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 1.5rem;

    @media screen and (min-width: 1024px) {
      max-width: 768px;
    }

    h2 {
      color: #fff;
    }

    svg {
      margin-right: 1.5rem;
      width: 50px;
      fill: #fff;
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: inline-block;
      padding-right: 0 !important;
    }
  }
</style>

<footer class="full-width">
  <h2>Where to find me?</h2>
  <p>
    <a href="https://www.linkedin.com/in/pieronimatteo/">Linkedin</a>
  </p>
  <p>
    <a href="mailto:matteopieroni6@gmail.com">Write me an email</a>
  </p>
</footer>
