---
import { Image } from 'astro:assets';
import Icon from '../assets/logo.png';
---

<style>
  header {
    .container {
      padding: 0.5rem;

      @media screen and (min-width: 1024px) {
        padding: 1rem 0;
      }
    }

    a {
      text-decoration: none;
    }

    img {
      width: 50px;
      height: auto;
    }
  }
</style>

<header>
  <div class="container centered-width">
    <a href="/" aria-label="Homepage">
      <Image src={Icon} alt="Matteo Pieroni" />
    </a>
  </div>
</header>
