---

---

<style>
  p {
    display: inline-block;
    background-color: var(--backgroundLight2);
    color: var(--textContrast);
    padding: 0.25rem;
    border-radius: 4px;
    font-weight: 400;
  }
</style>

<p>
  <slot />
</p>
