---

---

<style>
  p {
    display: block;
    padding: 0.375rem;
    background-color: var(--backgroundLight2);
    color: var(--textContrast);
    border-radius: 4px;
  }
</style>

<p>
  <slot />
</p>
