---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} metaDescription={frontmatter.metaDescription}>
  <main>
    <h1>{frontmatter.title}</h1>
    <slot />
  </main>
</Layout>
